h5, .h5 {
font-size: 1rem;
}
.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0, 0, 0, 0.125);
border-radius: 3.25rem;
}
.py-5 {
padding-top: 0rem !important;
padding-bottom: 0rem !important;
}
.text-my-offset {
  --bs-text-opacity: 1;
  color: #85586F !important;
}
.bg-light {
--bs-bg-opacity: 1;
background-color: var(--bs-gray-200) !important;
}
.bg-my-offset {
  --bs-bg-opacity: 1;
  background-color:#525E75 !important;
}
/* search arama kısımları icin */
#myInput {
background-image: url('../assets/searching.png');
background-position: 10px 12px;
background-repeat: no-repeat;
width: 100%;
font-size: 16px;
padding: 12px 20px 12px 40px;
border: 1px solid #ddd;
margin-bottom: 12px;
}
#generalSearch {
background-image: url('../assets/searching.png');
background-position: 10px 12px;
background-repeat: no-repeat;
width: 100%;
font-size: 16px;
padding: 12px 20px 12px 40px;
border: 1px solid #ddd;
margin-bottom: 12px;
}
/* Carousel slider icin */
#wrapper {
width: 100%;
max-width: 964px;
position: relative;
}
#carousel {
overflow: auto;
scroll-behavior: smooth;
scrollbar-width: none;
}
#carousel::-webkit-scrollbar {
height: 0;
}
#prev,
#next {
display: flex;
justify-content: center;
align-content: center;
background: white;
border: none;
padding: 8px;
border-radius: 50%;
outline: 0;
cursor: pointer;
position: absolute;
}
#prev {
top: 50%;
left: 0;
transform: translate(50%, -50%);
display: none;
}
#next {
top: 50%;
right: 0;
transform: translate(-50%, -50%);
}
#content {
display: grid;
grid-gap: 16px;
grid-auto-flow: column;
margin: auto;
box-sizing: border-box;
}
.item {
width: 180px;
height: 180px;
}
